
        body { background-color:#ffffff;}
h1 { color:#2196f3; font-family:Segoe UI,Arial,sans-serif; font-size:30pt; }
p { color:#000000; font-family:Segoe UI,Arial,sans-serif; font-size:12pt; }
.m-signature-pad--body6 canvas {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 175px;
  border: 1px solid #CCCCCC;
  }



        /* Landscape phones and down */
        @media (max-width: 480px) {
            .mainContainer

        {
            width: 100%;
        }

        }

        @media (min-width: 768px) {
            .mainContainer {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .internal {
            display: none;
        }
    